<div class="role">
	<div class="person-name">
		<%= role.person.name %> <!-- code smell -->
	</div>
	<div class="role-title">
		<%=  role.title %>
	</div>
	<div class="status-tile">
		<%=  role.status.title %> <!-- code smell -->
	</div>
</div>